.git
.github
.devcontainer
.venv
.local-venv
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov
instance
.env
*.db
tests
.pre-commit-config.yaml
ruff.toml
*.md
.cursor
.terraform
*.tfstate*
